@import "structure.scss";
@import "variables.scss";
@import "nav/nav.scss";
@import "hero/hero.scss";
@import "destinationContainer/destinationContainer.scss";
@import "bookingForm/bookingForm.scss";
@import "footer/footer.scss";

/*Gill Sans Nova Bold

font-family: gill-sans-nova, sans-serif;

font-weight: 700;

font-style: normal;


Gill Sans Nova Bold Italic

font-family: gill-sans-nova, sans-serif;

font-weight: 700;

font-style: italic;


Gill Sans Nova Book

font-family: gill-sans-nova, sans-serif;

font-weight: 400;

font-style: normal;


Gill Sans Nova Book Italic

font-family: gill-sans-nova, sans-serif;

font-weight: 400;

font-style: italic;


Gill Sans Nova Deco Regular

font-family: gill-sans-nova-deco, sans-serif;

font-weight: 400;

font-style: normal;


Gill Sans Nova Inline Bold

font-family: gill-sans-nova-inline, sans-serif;

font-weight: 700;

font-style: normal;


Gill Sans Nova Inline Regular

font-family: gill-sans-nova-inline, sans-serif;
font-weight: 400;
font-style: normal;


Gill Sans Nova Shadowed Light

font-family: gill-sans-nova-shadowed, sans-serif;

font-weight: 300;

font-style: normal;


Gill Sans Nova Shadowed Medium

font-family: gill-sans-nova-shadowed, sans-serif;

font-weight: 500;

font-style: normal;


Gill Sans Nova Shadowed Outline

font-family: gill-sans-nova-shadowed-outl, sans-serif;

font-weight: 400;

font-style: normal;


Gill Sans Nova ExtraCondensed Bold

font-family: gill-sans-nova-extra-condens, sans-serif;

font-weight: 700;

font-style: normal;


Gill Sans Nova Condensed Bold

font-family: gill-sans-nova-condensed, sans-serif;

font-weight: 700;

font-style: normal;


Gill Sans Nova Condensed Bold Italic

font-family: gill-sans-nova-condensed, sans-serif;

font-weight: 700;

font-style: italic;


Gill Sans Nova Condensed Book

font-family: gill-sans-nova-condensed, sans-serif;

font-weight: 400;

font-style: normal;


Gill Sans Nova Condensed Book Italic

font-family: gill-sans-nova-condensed, sans-serif;

font-weight: 400;

font-style: italic;


Gill Sans Nova Inline Condensed

font-family: gill-sans-nova-inline-conden, sans-serif;

font-weight: 400;

font-style: normal;*/
