nav {
  width: 80%;
  height: 15%;
  color: $base;
  margin: 0 auto;
  border-bottom: 3px $base solid;
  font-family: gill-sans-nova, sans-serif;
  display: flex;
  align-items: center;
  position: relative;

  .logo {
    border: 2px solid #fff;
    padding: 5px;
  }

  .links {
    position: absolute;
    right: 0;
    a {
      color: $base;
      text-decoration: none;
      padding-left: 10px;
      padding-right: 15px;
      border-right: 1px solid $blue-accent;
    }
    #lastLink {
      border: none;
      padding-right: 0;
    }
  }
}
